In [29]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import nltk

In [30]:
df = pd.read_json('cleaned_data.json')

In [31]:
df.head(1)

,business_id,name,city,state,stars,review_count,is_open,attributes,categories,review_id,user_id,review_stars,useful,funny,cool,text,date
0,lu7vtrp_bE9PnxWfA8g4Pg,Banzai Sushi,Thornhill,ON,4.5,7,1,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...","Japanese, Fast Food, Food Court, Restaurants",Q7iupWCt3UpRQSMKp4zO9A,dSTRQSeCqMTbs7l8KF_xJg,4,1,0,0,Been coming here since I was in grade 9 so abo...,2015-04-16 05:23:15

## Text Preprocessing

### Import Tokenizer and Stopwords

In [32]:
wpt=nltk.WordPunctTokenizer()
stop_words=nltk.corpus.stopwords.words('english')

### Preprocessing Pipeline

In [33]:
def normalize_document (doc):
    doc=re.sub(r'[^a-zA-Z\s]', '', doc) 
    doc=doc.lower()
    doc=doc.strip()
    
    tokens=wpt.tokenize(doc)

    filtered_tokens=[token for token in tokens if token not in stop_words]

    doc=' '.join(filtered_tokens)
    return doc

In [34]:
text_column = df['text']
normalize_corpus=np.vectorize(normalize_document)
norm_corpus = normalize_corpus(text_column)

In [35]:
norm_corpus[1]

'great sushi unbeatable prices downfall cash close pm'

In [36]:
df['text_preprocessed'] = norm_corpus

In [37]:
df.head(1)

,business_id,name,city,state,stars,review_count,is_open,attributes,categories,review_id,user_id,review_stars,useful,funny,cool,text,date,text_preprocessed
0,lu7vtrp_bE9PnxWfA8g4Pg,Banzai Sushi,Thornhill,ON,4.5,7,1,"{'GoodForKids': 'True', 'RestaurantsTakeOut': ...","Japanese, Fast Food, Food Court, Restaurants",Q7iupWCt3UpRQSMKp4zO9A,dSTRQSeCqMTbs7l8KF_xJg,4,1,0,0,Been coming here since I was in grade 9 so abo...,2015-04-16 05:23:15,coming since grade years wow staff friendly pr...

## Filtering on Location = Los Angeles

In [47]:
y = df.loc[df['state'] == 'MN']

In [48]:
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   business_id        0 non-null      object
 1   name               0 non-null      object
 2   city               0 non-null      object
 3   state              0 non-null      object
 4   stars              0 non-null      float64
 5   review_count       0 non-null      int64
 6   is_open            0 non-null      int64
 7   attributes         0 non-null      object
 8   categories         0 non-null      object
 9   review_id          0 non-null      object
 10  user_id            0 non-null      object
 11  review_stars       0 non-null      int64
 12  useful             0 non-null      int64
 13  funny              0 non-null      int64
 14  cool               0 non-null      int64
 15  text               0 non-null      object
 16  date               0 non-null      datetime64[ns]
 17  text_preprocessed  0 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(6), object(10)
memory usage: 0.0+ bytes